site_name: gNMIc
nav:
  - Home: index.md

  - Getting started:
      - Installation: install.md
      - Basic usage: basic_usage.md
      - User guide: user_guide/configuration_intro.md
      - Command reference: cmd/capabilities.md
      - Deployment examples: deployments/deployments_intro.md
      - Changelog: changelog.md

  - User guide:
      - Configuration:
        - Introduction: user_guide/configuration_intro.md
        - Flags: 
            - user_guide/configuration_flags.md
            - global_flags.md
        - Environment variables: user_guide/configuration_env.md
        - File configuration: user_guide/configuration_file.md
      
      - Targets: 
          - Configuration: user_guide/targets.md
          - Discovery:
            - Introduction: user_guide/target_discovery/discovery_intro.md
            - File Discovery: user_guide/target_discovery/file_discovery.md
            - Consul Discovery: user_guide/target_discovery/consul_discovery.md
            - Docker Discovery: user_guide/target_discovery/docker_discovery.md
            - HTTP Discovery: user_guide/target_discovery/http_discovery.md
      
      - Subscriptions: user_guide/subscriptions.md

      - Prompt mode: user_guide/prompt_suggestions.md
    
      - gNMI Server: user_guide/gnmi_server.md

      - Tunnel Server: user_guide/tunnel_server.md

      - Inputs:
        - Introduction: user_guide/inputs/input_intro.md
        - NATS: user_guide/inputs/nats_input.md
        - STAN: user_guide/inputs/stan_input.md
        - Kafka: user_guide/inputs/kafka_input.md

      - Outputs:
          - Introduction: user_guide/outputs/output_intro.md
          - File: user_guide/outputs/file_output.md
          - NATS: user_guide/outputs/nats_output.md
          - STAN: user_guide/outputs/stan_output.md
          - Kafka: user_guide/outputs/kafka_output.md
          - InfluxDB: user_guide/outputs/influxdb_output.md
          - Prometheus:  user_guide/outputs/prometheus_output.md
          - gNMI Server: user_guide/outputs/gnmi_output.md
          - TCP: user_guide/outputs/tcp_output.md
          - UDP: user_guide/outputs/udp_output.md
          
      - Processors: 
          - Introduction: user_guide/event_processors/intro.md
          - Add Tag: user_guide/event_processors/event_add_tag.md
          - Allow: user_guide/event_processors/event_allow.md
          - Convert: user_guide/event_processors/event_convert.md
          - Date string: user_guide/event_processors/event_date_string.md
          - Delete: user_guide/event_processors/event_delete.md
          - Drop: user_guide/event_processors/event_drop.md
          - Extract Tags: user_guide/event_processors/event_extract_tags.md
          - Group by: user_guide/event_processors/event_group_by.md
          - JQ: user_guide/event_processors/event_jq.md
          - Merge: user_guide/event_processors/event_merge.md
          - Override TS: user_guide/event_processors/event_override_ts.md
          - Strings: user_guide/event_processors/event_strings.md
          - To Tag: user_guide/event_processors/event_to_tag.md
          - Trigger: user_guide/event_processors/event_trigger.md
          - Write: user_guide/event_processors/event_write.md

      - Actions: user_guide/actions/actions.md

      - Clustering: user_guide/HA.md

      - REST API: 
          - Introduction: user_guide/api/api_intro.md
          - Configuration: user_guide/api/configuration.md
          - Targets: user_guide/api/targets.md
          - Cluster: user_guide/api/cluster.md

      - Golang Package:
          - Introduction: user_guide/golang_package/intro.md
          - Target Options: user_guide/golang_package/target_options.md
          - gNMI Options: user_guide/golang_package/gnmi_options.md
          - Examples:
              - Capabilities: user_guide/golang_package/examples/capabilities.md
              - Get: user_guide/golang_package/examples/get.md
              - Set: user_guide/golang_package/examples/set.md 
              - Subcribe: user_guide/golang_package/examples/subscribe.md

  - Command reference:
      - Capabilities: cmd/capabilities.md
      - Get: cmd/get.md
      - Set: cmd/set.md
      - GetSet: cmd/getset.md
      - Subscribe: cmd/subscribe.md
      - Diff: cmd/diff.md
      - Listen: cmd/listen.md
      - Path: cmd/path.md
      - Prompt: cmd/prompt.md
      - Generate: 
        - Generate: 'cmd/generate.md'
        - Generate Path: cmd/generate/generate_path.md
        - Generate Set-Request: cmd/generate/generate_set_request.md
    
  - Deployment examples:
      - Deployments: deployments/deployments_intro.md
      
      - gNMIc Single Instance:
        - NATS Output: 
          - Containerlab: deployments/single-instance/containerlab/nats-output.md
          - Docker Compose: deployments/single-instance/docker-compose/nats-output.md
        - Kafka output: 
          - Containerlab: deployments/single-instance/containerlab/kafka-output.md
          - Docker Compose: deployments/single-instance/docker-compose/kafka-output.md
        - InfluxDB output: 
          - Containerlab: deployments/single-instance/containerlab/influxdb-output.md
          - Docker Compose: deployments/single-instance/docker-compose/influxdb-output.md
        - Prometheus output: 
          - Containerlab: deployments/single-instance/containerlab/prometheus-output.md
          - Docker Compose: deployments/single-instance/docker-compose/prometheus-output.md
        - Multiple outputs: 
          - Containerlab: deployments/single-instance/containerlab/multiple-outputs.md
          - Docker Compose: deployments/single-instance/docker-compose/multiple-outputs.md
        
      - gNMIc Cluster:
        - InfluxDB output: 
          - Containerlab: deployments/clusters/containerlab/cluster_with_influxdb_output.md
          - Docker Compose: deployments/clusters/docker-compose/cluster_with_influxdb_output.md
        - Prometheus output:
          - Containerlab: deployments/clusters/containerlab/cluster_with_prometheus_output.md
          - Docker Compose: deployments/clusters/docker-compose/cluster_with_prometheus_output.md
          - Kubernetes: deployments/clusters/kubernetes/cluster_with_prometheus_output.md
        - Prometheus output with data replication:
          - Containerlab: deployments/clusters/containerlab/cluster_with_nats_input_and_prometheus_output.md
          - Docker Compose: deployments/clusters/docker-compose/cluster_with_nats_input_and_prometheus_output.md     
        - gNMI Server Cluster:
          - Containerlab: deployments/clusters/containerlab/cluster_with_gnmi_server_and_prometheus_output.md

      - gNMIc Pipeline:
        - NATS to Prometheus: 
          - Docker Compose: deployments/pipelines/docker-compose/nats_prometheus.md
        - NATS to InfluxDB: 
          - Docker Compose: deployments/pipelines/docker-compose/nats_influxdb.md
        - Clustered pipeline: 
          - Docker Compose: deployments/pipelines/docker-compose/gnmic_cluster_nats_prometheus.md
        - Forked pipeline: 
          - Docker Compose: deployments/pipelines/docker-compose/forked_pipeline.md 
  
  - Changelog: changelog.md
  # - Blog: blog/index.md

site_author: Karim Radhouani
site_description: >-
  gnmi client and collector command line interface
# Repository
repo_name: karimra/gnmic
repo_url: https://github.com/karimra/gnmic
edit_uri: ""
theme:
  name: material

  features:
    - navigation.tabs
    #- navigation.expand
    - navigation.top
    #- navigation.sections

  # 404 page
  static_templates:
    - 404.html

  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true

  # Default values, taken from mkdocs_theme.yml
  language: en
  palette:
      # Light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue
      accent: indigo
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    # Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: cyan
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

  font:
    text: Manrope
    code: Fira Mono
  icon:
    logo: octicons/pulse-24
  favicon: images/pulse.svg

extra_css:
  - stylesheets/extra.css

# Plugins
plugins:
  - search
  - minify:
      minify_html: true

# Customization
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/karimra
  analytics:
    provider: google
    property: UA-177206500-1

# Extensions
markdown_extensions:
  - markdown.extensions.admonition
  - markdown.extensions.attr_list
  - markdown.extensions.codehilite:
      guess_lang: false
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - markdown.extensions.meta
  - markdown.extensions.toc:
      permalink: "#"
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight:
      linenums_style: pymdownx-inline
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
